/* Mobile first - start with smallest */
.project-img {
  height: 250px; /* extra small phones */
  object-fit: cover;
}

/* Small phones */
@media (min-width: 368px) {
  .project-img {
    height: 300px;
  }
}

/* Large phones / small tablets */
@media (min-width: 576px) {
  .project-img {
    height: 320px;
  }
}

/* Tablets */
@media (min-width: 768px) {
  .project-img {
    height: 330px;
  }
}

/* Laptops */
@media (min-width: 992px) {
  .project-img {
    height: 380px;
  }
}

/* Large laptops / desktops */
@media (min-width: 1200px) {
  .project-img {
    height: 270px;
  }
}

/* Extra large desktops */
@media (min-width: 1400px) {
  .project-img {
    height: 410px;
  }
}